# Compiled source #
###################
*.o
*.a
!lib/libcoremega.a  # do not ignore precompiled
!lib/libcoreuno.a   # Arduino libraries

# OS & temporary files #
########################
*~
.DS_Store?
Thumbs.db
